body{
background-color: #CBCFCE;	
font-family: Times new Roman;
font-size: x-large;
color: black;
text-shadow: 4px 3px 3px gray;
}

h3{ 
  font-family:Bradley Hand; 
  color: purple;
  text-shadow: 3px 2px 2px red;
}
hr{ 
  color:green;
  height: 5px; 
  width: 800px;
  background-color:orange;
  align: left to right;
  }

 h1{ 
 text-align: center;
 color: red;
 font-family: Bradley Hand;
 text-shadow: 4px 3px 3px black;
 }
 h4{ 
  color: black;
  text-shadow: 2px 1px 1px red;
   } 
 li{ 

 color:red;
 text-shadow: 4px 3px 3px gray;
}

#container{
  display: flex;
}
h2{
 text-align: center;
 color: red;
 font-family: Bradley Hand;
 text-shadow: 3px 2px 2px black;
 }  
 .footer-container{
  background-color: #CBCFCE;
  padding-bottom: 4rem;
}
.footer{
  width: 70%;
  height: 30vh;
  color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
@media screen and (max-width:800px) {
  .column {
    flex: 50%;
    max-width: 50%;

  }
}

@media screen and (max-width:600px) {
  .column {
    flex: 100%;
    max-width: 100%;  
  }