body{
  height: 100%;
  width: 100%;
  background-color: lightblue;
  font-family: 'Times New Roman', Times, serif;
 }

 html {
   
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;

  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
 }  

h1{
  text-align: center;
  text-shadow: 2px 5px 4px gray;
  margin-top: 10%;
}
h2{
  text-align: center;
  text-shadow: 2px 5px 4px gray;
}
h3{
  text-align: center;
  text-shadow: 2px 5px 4px gray;
}
h4{
  text-align: center;
  text-shadow: 2px 5px 4px gray
}
p{
  text-align: center;
  line-height: 200%; 
  
}
ul{
  line-height: 200%;
  list-style: square;
  
}
img{

  height: 20%;
  width: 50%;
  border: 3px solid red;
}
img:hover{
   
  border: 3px solid green;
  box-shadow: 2px 5px 4px gray;
  transform: scale(1.1);
  transition: transform .1s;
  
  
}

textarea{
  border: 2px solid purple;
  padding: 5px;
  margin: 5px;
  background-color: gray;
  width: 90%;
  
  
}
button{
  background-color: lightgray;
  display: inline-flex;
  padding: 5px;
  margin: 5px;
  border: 2px solid orange;

}
button:hover{
  border: 3px solid green;
  transform: scale(1.1);
  transition: transform .1s;
  cursor: pointer; 
}
hr{
  background-color: lightcoral;
  height: .3%;
}
a:link{
  color: red;
}
a:visited{
  color: greenyellow;
}
a:hover{
  box-shadow: 3px 2px 3px gray;
}    
a:active{
  color: purple;
}
.header-container{
  display: flex;
  flex-direction: column;
  align-items: center ;
  margin-top: 5%;
}

.header-item:nth-of-type(1){
  width:100%
}


.header-item:nth-of-type(2){
  width: 100%;
}


.header-img{
  margin-left: 30%;
}

.header-button{
  background-color: white;
  font-size: 10px;
  text-align: center;
  color:black;
  cursor: pointer;
}


footer{
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
}
image-container{
  display: flex;
  justify-content: center;
}
image-container img{
  width: 50%;
}


/* Part 1: Navbar */

/* General style rule set for all items in ul */
.navbar ul {
  display:flex;
    list-style: none;
    list-style-type: none;
    overflow: hidden;
     position: fixed;
    top: 0;
  width: 100%;
  margin-bottom: 10%;
  margin-top: 15%;
  justify-content: center;
}

/* Style rule set for individual li */
.navbar ul li {
    float: left;
    margin: 10px;
}



/* Style rule set for individual li link */
.navbar ul li a {
  display: block;
    font-family: Arial;
    color: red;
    font-size: 16px;
    text-decoration: none;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
  color: blue;
}




/* Part 2: Flexbox */

/* General style rule set for flex container */
.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


/* Style rules for flex-item 1 */
.flex-item:nth-of-type(1) {

}

/* Style rules for flex-item 2 */
.flex-item:nth-of-type(2) {

}

/* Style rules for flex-item 3 */
.flex-item:nth-of-type(3) {

}


/* Style set for all flex-items */
.flex-item {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

.imgs{
  display: flex;
  align-items: center;
  flex-direction: column;

  
}
/* Customize Dark Mode Theme */
.dark-mode {
  background-color: black;
  color: white;
    
}
/* Add style to button */
#theme-button {
color: blue;
border: 2px solid green;
}
.petition-container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100;
  padding-bottom: 50px;
}  
.petition-para{
  width: 55%;
  padding-right: 10px;
}
.signatures{
  width: 45%;
  padding-right: 10px;
}
.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}
.revealable {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 2s ease;
}
.active {
transform: translateY(0px);
opacity: 1;  
  
}
/* the modal that covers the background and prevents user interactions */
.modal {
  display: none; /* hides the modal from view by default*/
  position: fixed; /* keeps the modal in one place */
  z-index: 2; /* positions the modal on top of all other elements on the screen */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* 40% opacity black - other elements can still be seen */
  flex-direction: column; /* these flexbox rules center the content on the screen */
  align-items: center;
  justify-content: center;
}

/* box that contains all the content and images */
.modal-content {
  background-color: lightsteelblue; /* update the colors and font sizes as you like */
  color: black;
  text-align: center;
  font-size: 3rem;
  display: flex; /* adds flexbox to center all items */
  justify-content: center;
  align-items: center;
}

#thanks-modal-content {
  width: 20rem; /* sets a default width for the text container */
}

#modal-text-container {
  display: flex; /* adds flexbox to center the text and buttons (stretch feature) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}